.FolderandDropDownSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.FolderSection {
  height: 50%;
  overflow: auto;
}
.DropdownSection {
  height: 50%;
  overflow: auto;
  border-top: 1px solid grey;
}

.DropDownView {
  margin-bottom: 20px;
}

.Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 50px;
}

.BottomRow {
  display: flex;
}
