.ModalContent {
  background-color: white;
  width: 30%;
  height: 40%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ModalBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
  margin: -20px -2%;
}
