.ModalContent {
  background-color: white;
  width: 30%;
  height: 30%;
  position: fixed;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 30%;
  left: 30%;
  z-index: 1;
}

.ModalBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
  margin: -20px -2%;
}
