.PromptForm {
  display: flex;
  flex-direction: column;

  .InsertTitle {
    flex-basis: 5%;
    font-weight: bold;
    font-size: 1.3em;
  }

  .TextareaContainer {
    position: relative;
    height: 100%;

    .PromptContent {
      flex: 1 0 90%;
      border: 1px solid lightgray;
      border-radius: 5px;
      width: 99%;
      height: 100%;
    }

    .InsertDropdownButton {
      position: absolute;
      top: 0;
      right: 0;

      &.isHidden {
        display: none;
      }
    }

    .MuiAutocomplete-root {
      position: absolute;
      top: 2px;
      right: 0px;
      width: 35%;

      &.isHidden {
        display: none;
      }
    }
  }

  .PromptFooter {
    flex-basis: 5%;
    display: flex;
    justify-content: flex-end;
  }
}
