.prompt-form {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 3 / 6 / 3;

  .prompt-title {
    flex-basis: 5%;
  }

  .prompt-content {
    flex: 1 0 90%;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .prompt-footer {
    flex-basis: 5%;
    display: flex;
    justify-content: flex-end;
  }
}
