body {
  margin: 0px;
}

.App {
  display: grid;
  grid-template-columns: 15% 45% 35%;
  grid-template-rows: 100px 2fr;
  gap: 20px;
  margin: 20px 2%;
  justify-content: center;
}

.NavRow {
  border: 1px solid grey;
  grid-area: 1 / 1 / 2 / 4;
  min-height: 100px;
}

.FolderandDropDownSection {
  border: 1px solid grey;
  grid-area: 2 / 1 / 3 / 2;
}

.PromptList {
  border: 1px solid grey;
  grid-area: 2 / 2 / 3 / 3;
  overflow: hidden;
}

.prompt-form {
  grid-area: 2 / 3 / 3 / 3;
}
